.side-content{
    width: 12%;
    height: 100%;

    background-color: #252525;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-link{
    width: 100%;
    min-height: 150px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #D73F09;
}
.logo{
    height: 105px;
    width: 100px;
    
    background-image: url(/public/images/OSU_vertical_2C_W_over_B.png);
    background-size: cover;
}
.side-tabs{
    width: 100%;
    height: 633px;

    margin: 100px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    list-style-type: none;
}

.side-tabs-menu-item{
    height: 140px;
    width: inherit;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.side-tabs-menu-text{
    font-size: larger;
    margin-top: 10px;
    color: white;
}

.bold .side-tabs-menu-text {
    font-weight: bold;
    color: #D73F09;
}
  
.side-tabs-menu-text:hover{
    color: #D73F09;
    font-weight: bold;
}