.dashboard-content{
    margin: 100px;
}

.dashboard-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;
}

.dashboard-top-container p {
    font-size: larger;
}